
.heading-gradient-h2 .gradient-text{background:transparent;color:#ec2127;}
.btn-slider .text-gradient{background:transparent;color:#ec2127;}
.btn-gradient{color:#ec2127;}
.sponsors-img{display:table-cell;vertical-align:middle;}
