
/*colors*/
$black:#333333;
$dark_gray:#4d4d4d;
$mid_gray:#cccccc;
$gray:#e6e6e6;
$light_gray:#f2f2f2;

$orange:#ff7900;
$light_orange:#ff9541;

$redish_pink:#de584f;
$light_pink:#f2bdb9;

$dark_blue:#0099bb;
$mid_blue:#66c2d7;
$light_blue:#b8e9fa;

$dark_green:#009a82;
$light_green:#8cdd9b;

$red:#b90647;

$parrot_green:#a9c147;


/*Media Query*/
$break-mid-desk: 1340px;
$break-small-desk: 990px;
$break-mobile: 767px;
$break-mobile-small: 680px;

